@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.btn {
  @apply rounded-xl h-10 px-4 grid place-content-center font-semibold  transition-all;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-danger {
  @apply bg-red-500 text-white;
}
